<div class = "columns is-centered">
  <div class = "column is-two-thirds is-half-desktop ">
    <%= form_with(model: user, local: true) do |form| %>
  
    
  <div class ="box has-border-colored  ">
    <div class="field">
          <%= form.label :name, class: "label has-text-lavanda is-size-2 is-size-5-desktop" %>
         <div class = "control ">
         <%= form.text_field :name, class: "input is-large is-medium-desktop  has-text-centered has-border-colored", placeholder: "Batman" %>
         
         <p class="help has-text-lavanda is-size-3 is-size-6-desktop">Type your name, please</p>
         
         </div>
         <br/>
        </div>
      
        <div class="actions button-container">

          <%= form.submit "Submit", class: "button  has-text-white is-size-2 is-size-5-desktop is-fullwidth  button-is-purple" %>
        </div>
      <% end %>
    </div>
  </div>

</div> 